import java.util.*;
import java.io.*;
public class Name{
    static BufferedReader f = new BufferedReader(new InputStreamReader(System.in));
    static PrintWriter out = new PrintWriter(System.out);
    public static void main(String[] args) throws IOException{


        f.close();out.close();
    }


}